
@import url(http://fonts.googleapis.com/css?family=Roboto); 
body{ 
color: #fff; 
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0.025em;
  line-height: 1.75em;
 

background: #4b6cb7; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
 font-family: 'Roboto', sans-serif;
 
}  
body, html{ 
height: 100%;

width: 100%; 
min-width: 300px;
margin: 0; padding: 0;
}
  #map2{ border: 10px solid #fff; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.44);}
#map{ min-height: 100% ;}
#map2.formmap{ min-height: 400px; width: 80%; margin: 0px auto;}
  .colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.gm-style-iw{
  color: #000;
}
.msgaviso{
       
    position: fixed;
    width: 100%;
    padding: 60px;
    font-size: 60px;
    color: #fff;
    background: rgba(28, 219, 181,0.7);
    
    font-weight: lighter;
    opacity: 0;
    z-index: -1000;

    animation: all 0.4s cubic-bezier(0.56, -0.02, 0.58, 1);
}
.msgaviso.active{
  opacity: 1;
   z-index: 99;
  
    animation: all 0.4s cubic-bezier(0.56, -0.02, 0.58, 1);
}
.overall{ 
  position: fixed;
  min-height: 90%;
  width: 100%; 
  z-index:-3;
  margin-top:63px;
  opacity: 0; 
  background: rgba(76, 117, 171, 0.7);
  transition: all 400ms ease-in-out;
}
.overall.active{
 opacity: 1;
 z-index: 3;
 
}
.coords{
  max-height: 400px;
  overflow-y: auto; overflow-x: none;
  margin-top: 30px;
} 
.thenav{
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  z-index: 1;
  width: 100%;

min-width: 300px;
}
 

#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #5e5e5e;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;

}
 
#nav-toggle.active span {
  background-color: transparent;
} 

#nav-toggle.active #nav-toggle {z-index: 8;}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.menu{ 
  text-align: center;
  margin: 40px auto;
   transition: all 200ms ease-in-out;

}
.menu p:hover{
  font-weight: bold;
    cursor: pointer;
}

a:hover, a:visited, a:focus{outline: 0;}
span.menutx{ 
    position: absolute;     
    top: 36px;
    margin-left: -37px;
    color: #5e5e5e;}

    .home__search {
    margin-bottom: 45px;
    padding-right: 48px;
    box-shadow: 0 0 0px 5px rgba(20,28,34,0.1);
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
}
.home__search {
    -webkit-appearance: none;
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 300;
    color: #141c22;
    outline: none;
    transition: all 0.5s cubic-bezier(0.68, -0.01, 0.32, 1);
}
.home__search__icon {
    top: 6px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: bold;
    font-family: "icomoon";
    color: #69bc58;
}.home__search__icon {
    position: absolute;
    cursor: pointer;

}
#formsearch{
  position: absolute; 
  width: 50%;
  
  top: 40%; 
  left: 24%;
  right: 24%;
 transition: all 0.7s ease;
}
 

.home__search:focus {
    box-shadow: 0 0 0px 5px rgba(113, 154, 106, 0.64);
    /* transition: all 0.5s cubic-bezier(0.68, -0.01, 0.32, 1); */
}
@media screen and (max-width: 780px){
.formsearch{
  position: absolute;
   width: 80%;
  top: 40%; 
    left: 10%;
  right: 10%; 
}

}
#example tr.odd {
    color: #000;
}